* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}       
body {
    background-color: #388697;
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size: 5rem;
    color: rgb(0, 0, 0);
    background-color: #B5FFE1;
    font-weight: 600;
}

button {
    height: 8vmin;
    width: 20vmin;
    border-radius: 2rem;
    color: #ffffff;
    font-size: 2.5vmin;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(8, 65, 92, 1);
    background-color: #08415C;
    border: none;
    margin-top: 1rem;
}

#msg {
    color: #ffffff;
    font-size: 8vmin;
    font-weight: 800;
}

.msg-Container {
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.hide {
    display: none;
}

/* Mobile Responsive Design */
@media (max-width: 600px) {
    .game {
        width: 90vmin;
        height: 90vmin;
        gap: 2.5vmin;
    }

    .box {
        height: 22vmin;
        width: 22vmin;
        font-size: 4rem;
    }

    button {
        height: 10vmin;
        width: 30vmin;
        font-size: 3vmin;
    }

    #msg {
        font-size: 6vmin;
    }
}
